<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Taxi  {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Taxi Share Website">
    <meta name="author" content="Andrew Beinstein">

		    <!-- Le styles -->
				<link href="http://static.scripting.com/github/bootstrap2/css/bootstrap.css" rel="stylesheet">
		
		    <style>
		      body {
		        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		      }
		    </style>
		    <link href="../boostrap/css/bootstrap-responsive.css" rel="stylesheet">

		    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		    <!--[if lt IE 9]>
		      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <![endif]-->

		    <!-- Le fav and touch icons -->
		    <link rel="shortcut icon" href="../bootstrap/ico/favicon.ico">
		    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/ico/apple-touch-icon-144-precomposed.png">
		    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/ico/apple-touch-icon-114-precomposed.png">
		    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/ico/apple-touch-icon-72-precomposed.png">
		    <link rel="apple-touch-icon-precomposed" href="../bootstrap/ico/apple-touch-icon-57-precomposed.png">
		  </head>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../bootstrap/ico/apple-touch-icon-57-precomposed.png">

		{% block scripts %}{% endblock %}
  </head>

  <body>

		
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Taxi Share</a>
          <div class="nav-collapse">
            <ul class="nav">
						{% block navbar %}
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about/">About</a></li>
              <li><a href="#contact">Contact</a></li>
						{% endblock navbar %}
            </ul>
          </div> <!--/.nav-collapse -->
        </div>
      </div>
    </div>
		

		
    <div class="container">
			{% block content %}

			{% endblock content %}
		

    </div> 

    <!-- Le javascript
    ================================================== -->
    <script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>
		<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>

  </body>
</html>
